
.birth{
  width: 100%;
  border: none;
  background-color: transparent;
  color: hsl(0deg 1% 61%);
  padding: 10px 15px;
}
.time{
  width: 100%;
  border: none;
  background-color: transparent;
  color: hsl(0deg 1% 61%);
  padding: 10px 15px;
}
.Profession{
  width: 100%;
  border: none;
  background-color: transparent;
  color: hsl(0deg 1% 61%);
  padding: 10px 15px;
}